{% extends "base_site.html" %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    {% for item in css_files%}
        <link href="{{ item }}" rel="stylesheet" type="text/css">
        {% endfor %}
        {% for item in js_files%}
        <script src="{{ item }}"></script>
        {% endfor %}
        {% for script in bokeh_scripts%}
        {{ script | safe }}
    {% endfor %}

{% endblock %}


{% block subtitle %}
    <p> Bonjour <span class="username"> {{ user.first_name }} </span> !</p>
{% endblock %}

{% block content %}
<h2> Bienvenue sur l'application CBO!</h2>

    <div>{{ calendar }}</div>

    <div id="app">
        <div>
            <label>Date du petit déjeuner</label>
            <input type="datetime" name="date"
               v-model="date"/>
        </div>

        <div>
            <label>Participation de la validation?</label>
            <input type="checkbox" v-model="participation_vali" @change="load_data()">
        </div>
        <div>
            <label>Nombre de participants : ##nb_participants##</label>
        </div>



        <h3>Les absents</h3>
        <div>
            <select v-model="absent_emails" multiple>
                <option v-for="user in possible_users">##user.email##</option>
            </select>
        </div>
        <br>

        <h3>Les organisateurs</h3>
        <div v-for="organisateur in organisateurs">
            <label>Responsable</label>
            <label style="font-weight: bold">##organisateur.responsable.email##</label>
            <label>Fait maison?</label>
            <input type="checkbox" v-model="organisateur.fait_maison">
            <label>Delete</label>
            <input type="checkbox" v-model="organisateur.delete" @change="load_data()">
        </div>
        <a class="my_button" @click="add_organisateur_func()">Ajouter un organisateur</a>
        <a class="my_button" @click="save_data()">Enregistrer</a>
        <div>
            <label>Organisateur désigné</label>
            <select v-model="designated_orgna"
                    @change="add_designated_orga_func()">
                <option v-for="user in possible_users">##user.email##</option>
            </select>
        </div>
    </div>


    <script>
        var app = new Vue({
        el: '#app',
        delimiters: ['##', '##'],
        data: {"date": "",
                "participation_vali": true,
                "organisateurs": [],

                "add_organisateur": false,
                "add_designated_orga": false,

                "possible_users": [],
                "absent_emails": [],
                "save": false,
                "uri": "",
                "designated_orgna": "",
               } ,

        computed: {
            nb_participants: function () {
                  return this.possible_users.length - this.absent_emails.length
                },
            },

        methods: {
            add_organisateur_func(){
                this.add_organisateur = true
                this.load_data()
                this.add_organisateur = false
            },
            add_designated_orga_func(){
                this.add_designated_orga = true
                this.load_data()
                this.add_designated_orga = false
            },

            save_data(){
                this.save = true
                this.load_data()
                this.save = false
            },

            init(){
                var self = this;
                $.ajax({
                   url: '{% url 'Dej:NewPetitDejViewVue' %}',
                   data : {"top_init": true,
                          'csrfmiddlewaretoken': '{{ csrf_token }}',
                   },
                   method: "POST",
                   success: function(data) {
                        self.uri = data.uri
                        self.date = data.date
                        self.organisateurs = data.organisateurs
                        self.possible_users = data.possible_users
                   },
                   error: function(error) {
                        console.log(error);
                   }
                })
            },

            load_data(){
                var self = this;

                data = {'date': this.date,
                           'uri': this.uri,
                           'csrfmiddlewaretoken': '{{ csrf_token }}',
                           'participation_vali': this.participation_vali,
                           "organisateurs": JSON.stringify(this.organisateurs),
                           "absent_emails": JSON.stringify(this.absent_emails),
                           "add_organisateur": this.add_organisateur,
                           "add_designated_orga": this.add_designated_orga,
                           "save": this.save}

                if (this.designated_orgna){
                    data["designated_orgna"] = this.designated_orgna

                }
                $.ajax({
                    url: '{% url 'Dej:NewPetitDejViewVue' %}',
                    data: data,

                    method: 'POST',
                    success: function(data) {
                        self.date = data.date
                        self.organisateurs = data.organisateurs
                        self.possible_users = data.possible_users

                        if (data.add_designated_orga){
                            self.designated_orgna = ""
                        }
                        },
                    error: function(error) {
                        console.log(error);
                        }
                    });
            },
        },
        mounted: function() {
            this.init()}
        })

    </script>
{% endblock %}
