{% extends "base_site.html" %}
{% load static %}

{% block head %}
<style>
    table{
        border: 1px;
        padding: 3px;
        border-spacing: 0px;
    }
    tr{
        border: 1px solid black;
        text-align: center
    }
    tr.ligne-impaire{
        background-color: rgb(0, 106, 77);
        color : white
    }
    tr.ligne-paire{
        background-color: rgb(240, 247, 240);
    }
    tr.ligne-paire:hover{
        background-color: rgb(163, 204, 193)
    }
</style>
{% endblock %}

{% block content %}
<div>
    <h4>{{user.username}}</h4>
    <ul>
        <li>Email: {{user.email}}</li>
        <li>Arrivée: {{user.date}}</li>
        <li>Equipe : {{user.equipe}}</li>
        <li>Points : {{user.nombre_points}}</li>
    </ul>


    <div style="margin-top: 70px;">
        <h4>Petits déjeuners</h4>
        <table aria-describedby="Tableau des déjeuners" class="table table-bordered">
            <th scope="col" class="ligne-impaire">
                <td>Date</td>
                <td>Vali?</td>
                <td>Absents</td>
                <td>Participants</td>
                <td>Organisateurs</td>
                <td>Mes points</td>
            </th>
            <tr>
            </tr>
            {% for petit_dej in petit_dejs %}
            <tr>
                <td><a href="/admin/Dej/petitdej/{{petit_dej.pk}}/change/">{{petit_dej.date}}</a></td>
                <td>{{petit_dej.participation_validation}}</td>
                <td>{{petit_dej.nombre_absents}}</td>
                <td>{{petit_dej.nombre_participants}}</td>
                <td>{{petit_dej.nombre_organisateurs}}</td>
                <td>{{petit_dej.point}}</td>
            </tr>
            {% endfor %}
        </table>

        {% if is_paginated %}
          <ul class="pagination">
            {% if page_obj.has_previous %}
              <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="active" style="margin-left:5px"><span> {{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li style="margin-left:5px"><a href="?page={{ i }}">  {{ i }}  </a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}

    </div>


</div>


{% endblock %}
