{% extends "base_site.html" %}
{% load static %}

{% block subtitle %}
    <p> Bonjour <span class="username"> {{ user.first_name }} </span> !</p>
{% endblock %}

{% block content %}
    <h2> Bienvenue sur l'application GRO!</h2>

{% endblock %}

    <!--<p>
        En te rendant sur l'onglet <a href="{% url "gronometre" %}">Gronomètre</a>, à condition d'être connecté, tu vas te trouver sur une page ressemblant à ça : <br />
    </p>
    {% load static %}
    <div class="example">    <img src="{% static 'ex.png' %}" alt="ex" width="20%" class="center"/>
    </div>-->
