[[source]]
name = "pypi"
url = "${PYPI_REMOTE}"
verify_ssl = false

[dev-packages]
pytest = "*"
coverage = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
flake8 = "*"
numpydoc = "*"
bandit = "*"

[packages]
numpy = "*"
pandas = ">=0.25.1"
backports.zoneinfo = {version = "*", markers = "sys_platform == 'linux'"}
django = "*"
django_import_export = "*"
django-widget-tweaks = "*"
django-cors-headers = "*"
tqdm = "*"
pywin32 = {version = "*", markers = "sys_platform == 'win32'"}
docutils = "*"
icalendar = "*"
bokeh = "*"
scikit-learn = "*"
whitenoise = {version = "*", extras = ["brotli"], markers = "sys_platform == 'linux'"}
gunicorn = {version = "*", extras = ["gevent"], markers = "sys_platform == 'linux'"}
psycopg2-binary = "*"
